<%= render 'pages/home' unless user_signed_in? %>
<div id="terms" class="transitions-enabled">
  <% @terms.each do |term| %>
      <div class="box panel panel-default">
        <div class="panel-heading center">
          <%= link_to term do %>
            <strong><%= term.term_name %></strong>
          <% end %>
        </div>
        <div class="panel-body">
          <%= term.term_part_of_speech %>
          <%= term.term_language %>
          <br/>
          <%= term.user.name if term.user %>
          <% if term.user == current_user %>
            <div class="actions center">
              <span class="glyphicon glyphicon-star-empty"></span>

              <%= link_to edit_term_path(term) do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>

              <%= link_to term, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

  <% end %>
</div>
<div class="center">
  <%= will_paginate @terms, renderer: BootstrapPagination::Rails %>
</div>