<%= render 'pages/home' unless user_signed_in? %>
<div id="terms" class="transitions-enabled">
  <% @terms.each do |term| %>
    <%= link_to term do %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <%= term.description %>
          <br/>
          <%= term.user.email if term.user %>
          <% if term.user == current_user %>
            <div class="actions">
              <%= link_to 'Edit', edit_term_path(term) %>
              <%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="center">
  <%= will_paginate @terms, renderer: BootstrapPagination::Rails %>
</div>