<h1>Your Terms</h1>


<div id="terms" class="transitions-enabled">
  <% @terms.each do |term| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <%= term.description %>
        <%= term.user.email if term.user %>
        <%= link_to 'Show', term %>
        <% if term.user == current_user %>
          <%= link_to 'Edit', edit_term_path(term) %>
          <%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>